<!DOCTYPE html>
<html>
  <head>
    <title>Show memos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Data Memos </h1>
    <p>Welcome to Memo's</p>
    <table style="width:50%" border="1">
      <tr>
        <th>No</th>
        <th>Memo</th>
        <th>Status</th>
        <th>User</th>
        <th>Action</th>
      </tr>
      <% result.forEach(function(item){ %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td>
          <% if(item.is_complete == true) { %>
            <input type="checkbox" name="is_complete" checked>
          <% } else { %>
            <input type="checkbox" name="is_complete" value="true">
          <% } %>
        </td>
        <td><%= item.user_id %></td>
        <td><a href='/memos/edit/<%= item.id %>'>[edit]</a> - <a href='/memos/delete/<%= item.id %>'>[delete]</a></td>
      </tr>
      <% }); %>
    </table>
    <br>
    <h4><a href="/memos/create">Tambah Data</a></h4>
  </body>
</html>
