<!DOCTYPE html>
<html>

<head>
    <title>edit task</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>edit task</h1>
    <h3>user id : <%=userId%>| user name : <%=userName%></h3>
    <form action="/todo/<%=todoId%>/edit" method="post">
        title:<br>
        <input type="text" name="title" value="<%=todoTitle%>">
        <br>complete?
        <!-- <input type="text" name="title" value="<%=todoiscompelete%>"> -->
        <% if(todoiscompelete==true){ %>
          <input type="checkbox" name="completed" value=true checked>
        <% }else{%>
          <input type="checkbox" name="completed" value=true >
        <%}; %>

        <!-- else{<input type="checkbox" name="completed" >} -->
         <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
